@import url('https://fonts.googleapis.com/css?family=Vollkorn|Roboto+Condensed|Roboto:100,300,700&display=swap');

/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  font-family: 'Roboto', sans-serif;
  font-size:1.25rem;
  font-weight: 300;
  color: #210;
}
li {
  list-style-type: none;
}
a {
  color:#900;
  text-decoration: none;
  border-bottom: 2px solid #900;
}
a:hover {
  color:#000;
  border-bottom: 2px solid #000;
}
h1,h2,h3,h4,h5 {
  font-family: 'Vollkorn', serif;
  font-weight: 900;
}
h1 {
  font-size: 7rem
}
h2 {
  font-size: 3rem
}
h3 {
  font-size: 3rem
}
h4 {
  font-size: 1.5rem
}
h5 {
  font-size: 1rem
}
.button.button-primary,
button.button-primary {
  color: #FFF;
  background-color: #000;
  border-color: #000;
}
.button:hover,
.button.button-primary:hover,
button.button-primary:hover {
  color: #FFF;
  background-color: #900;
  border-color: #900;
}
.button {
  border-radius: 100px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  padding:1rem 3rem 1rem 3rem;
}
svg {
  display: inline-block;
  position: relative;
  top: 0.4rem;
  margin-right: 0.5rem;
  fill: currentColor;
  height: 1.8rem;
  width: 1.8rem;
}
.nobr	{ 
  white-space:nowrap; 
}
code {
  display:block;
}

#braintree-token-form input#button-pay.show-button {
  background:mediumseagreen;
  color: white;
}
#braintree-token-form input#button-pay.show-button:hover {
  background: yellow;
  color: black;
}
/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: left;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero-heading {
  font-family: 'Vollkorn', sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.hero {
  padding-bottom: 0;
}
.hello {
  display:block;
  font-size: 6rem;
}
.logo {
  font-family: 'Vollkorn', sans-serif;
  overflow:visible;
  letter-spacing:-0.6em;
  padding-right: 0.6em;
  color:#900;
}
.logo::after {
  content: "△△";
}

/* More
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.more {
  background-color: #fff;
  color: #210;
}
.more h2,h3,h4,h5 {
  color:#900;
}
.more .technical {
  font-size:1.5rem;
  color:#432;
  border-left:2px solid #ddd;
  padding-left:1.5rem;
}
.more .technical h3 {
  font-size:1.35rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight:300;
  color:#321;
  text-transform:uppercase;
  margin-bottom:1rem;
}
.more .technical h3 .logo {
  color:#321;
}
.more .technical a {
  color:#432;
  border-bottom:none;
}
.more .technical a:hover {
  color:#000;
}
.demos {
  margin:3rem 0 4rem 0;
}
p.overview {
  font-size: 2rem;
  font-weight: 100;
}
.small {
  font-size:1.5rem;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer {
  padding-bottom: 5rem;
  margin-top: 5rem;
  background: #c00 url('https://cdn.glitch.com/ae8fe322-3d99-45d4-b293-37c0791f3234%2Fredbg.png?1554472207229');
  color:#fff;
  text-align:center;
}
.footer h4 {
  color:#fff;
  font-weight:300;
}
.footer .logo {
  color:#fff;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  body {
    font-size:2rem;
  }
  .section {
    padding: 9rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .more {
    padding-top: 0;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .owl {
    top:0;
    left: -3rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  body {
    font-size:1.65rem;
  }
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 3rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 12rem 0 12rem;
  }
  .more {
    padding-top: 0;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 10rem 0 10rem;
  }
  .hero-heading {
    font-size: 4.0rem;
  }
  .more {
    padding-top: 0;
  }
}
